footer.footer
  .container
    .content.has-text-centered
      p
        strong JustBlocks
        |  por
        |
        a(href='#') Kamikaze inc.
        |  El codigo fuente es con licencia
        |
        a(href='#') MIT
        | .
      nav.breadcrumb.has-dot-separator.is-centered(aria-label='breadcrumbs')
        ul
          li
            a(href='#') Aviso de Privacidad
          li
            a(href=gUrl + 'faq') FAQ
          li
            a(href='#') Términos y condiciones

include loginModal.pug
script(defer='', src=pathToRoot + 'js/FontAwesome/all.5.0.13.js')
script(src=pathToRoot + 'axios/axios.min.js')
script(src=pathToRoot + "js/loginModal.js")
script(src=pathToRoot + "js/md5.js")

