meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')
// Style
link(rel='stylesheet', href=pathToRoot + 'bulma/bulma.css')
link(rel='stylesheet', href=pathToRoot + 'bulma-extensions/bulma-extensions.min.css')
link(rel='stylesheet', href=pathToRoot + 'css/navbar.css')
link(rel='stylesheet', href=pathToRoot + 'css/main-content.css')
// /style
link(rel='icon', type='image/png', href=pathToRoot + './images/rebel.png', sizes='32x32')