nav#mainNavbar.navbar.is-info(role='navigation')
  .navbar-brand
    a.navbar-item(href=url)
      span
        i.fab.fa-rebel.fa-3x
      span(hidden='')
        h1.title(style='color: white') JustBlocks
    .navbar-burger.burger(data-target='nav')
      span
      span
      span
  #nav.navbar-menu
    .navbar-start
      .navbar-item.has-dropdown.is-hoverable
        a.navbar-link(href='#')
          b Convocatorias
        .navbar-dropdown.is-boxed
          a.navbar-item(href='#') Abiertas
          a.navbar-item(href='#') Resultados
      a.navbar-item(href='#')
        b Servicios
      a.navbar-item(href='#')
        b Método Evaluación
    .navbar-end
      if (!openSession)
        .navbar-item
          .field.is-grouped
              p.control
                button.button.is-primary.is-outlined(href='#' onclick="launchSignInModal()")
                  span.icon
                    i.fas.fa-sign-in-alt
                  span Sign in
              p.control
                span or
              p.control
                button.button.is-info.is-outlined(href='#' onclick="openSignUp()")
                  span.icon
                    i.fas.fa-user-plus
                  span Sign up
      else
        .navbar-item.has-dropdown.is-hoverable
          a.navbar-link(href=url + location)
            figure.image.is-48x48(style='background-image: url("images/Porg.png"); background-size:cover; border-radius: 50%;' href=`${url}app`)
            p &nbsp #{userSession.name.first.split(' ')[0]}
          .navbar-dropdown.is-boxed
            a.navbar-item(href='#')
              span.icon
                i.fas.fa-edit
              span Editar perfil
            - const route = 'session'
            a.navbar-item(href=url + route + 'logout')
              span.icon
                i.fas.fa-sign-out-alt
              span Salir
        a.navbar-item(href='#')
          span.icon
            i.far.fa-bell
        a.navbar-item(href="#")
          span.icon
            i.fas.fa-tasks
        a.navbar-item(href="#")
          span.icon
            i.far.fa-calendar-alt