- const pathToRoot = '../../../';
- const today = new Date(2018, 4, 1);
doctype html
html(lang="en")
  head
    include ../../header.pug
    title Administración de evaluadores
  body
    include ../../navbar.pug
    section.hero.is-success
      .hero-body
        .container.has-text-centered
          h1.title Administración de evaluadores
    h1 Convocatoria
    h2 #{announ.title}
    .container
      if today < announ.endEnrollmentsDate
        //Etapa de registro de proyectos y esas cosas
        h1 En la etapa de registro
        h1 TABLA
        h1 Evaluadores
        br
        #evaluators
          v-client-table(:columns="columns" :data="evaluators" :options="options")
            a(slot="name" slot-scope="props" target="_blank" :href="`${url}evaluator/view/${props.row.idEval}`") {{props.row.name}}
        h1 Proyectos
        br
        #projects
          v-client-table(:columns="columns" :data="projects" :options="options")
            a(slot="title" slot-scope="props" target="_blank" :href="`${url}project/view/${props.row.id}`") {{props.row.title}}

      else if today < announ.deadlineDate
        //Etapa de evaluación
        h1 En la etapa de evaluación
      else
        //Etapa final, convocatoria terminada, para entonces ya debió haber sido evaluado, también con el modelo
        h1 En la etapa final, resultados
        - let idAnnoun = announ._id
        h1 Esta convocatoria está terminada, para ver los resultados por favor dirígete a este 
          a(href=`http://127.0.0.1:3000/announcement/results/` + idAnnoun) enlace
  include ../../footer.pug
script.
  const idAnnoun = `#{announ._id}`
script(src=pathToRoot + 'vue/vue.js')
script(src=pathToRoot + 'tables/vue-tables-2.min.js')
if today < announ.endEnrollmentsDate  
  script(src=pathToRoot + 'vue/controllers/announcement/adminEvaluatorsRegister.js')
