- const pathToRoot = "../../../";
- const today = new Date(2018, 4, 11);//Se cuenta desde 0
- const months = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio", "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
doctype html
html(lang="en")
  head
    include ../../header.pug
    link(rel="stylesheet", href=pathToRoot + "css/index.css")
    link(rel="stylesheet", href=pathToRoot + "css/social-buttons.css")
    link(rel="stylesheet", href=pathToRoot + "bulma-extensions/bulma-extensions.min.css")
  body
    include ../../navbar.pug

    h1 #{evaluator.status}
    h1 #{evaluator.idAnnouncement.deadlineDate}
    h1 #{today}
    if evaluator.status == 0
      //Enviado
      h1 Tu solicitud para ser evaluador ha sido enviada, pronto te notificarán si fuiste aceptado.
    else if evaluator.status == 1
      if today < evaluator.idAnnouncement.endEnrollmentsDate
        //aceptado
        //Etapa de registro de proyectos y esas cosas
        - let endDate = evaluator.idAnnouncement.endEnrollmentsDate
        h1 Enhorabuena, has sido aceptado para ser evaluador en esta convocatoria
        h1 Prep&aacute;rate porque el #{endDate.getDate()} de #{months[endDate.getMonth()]} del #{endDate.getFullYear()} comenzará la etapa de evaluación
      else if today < evaluator.idAnnouncement.deadlineDate
        //Etapa de evaluación
        //Toda la magia con Vue, sus proyectos asignados
        h1.title.is-3 Es hora de la evaluación
        h1.title.is-5 A continuación te presentamos los proyectos que te corresponden evaluar
        .container-fluid
          #app
            v-client-table(:columns="columns" :data="data" :options="options")
              a(slot="title" slot-scope="props" target="_blank" :href="props.row.projectUri") {{props.row.title}}
      else
        //Etapa final, convocatoria terminada
        - const idAnnoun = evaluator.idAnnouncement._id;
        h1 Gracias por haber participado en esta convocatoria, se ha cerrado todo el proceso, si quieres ver los resultados finales visita el siguiente 
          a(href=gUrl + "api/project/winners/" + idAnnoun) enlace 
    else if evaluator.status == 2
      //Rechazado
      h1 Lo sentimos, por esta ocasión no podrás formar parte del equipo de evaluación en la convocatoria "#{evaluator.idAnnouncement.title}", pero esperamos poder contar contigo en próximas ediciones
    else 
      //Aceptado (Banca)
      h1 Enhorabuena, has sido aceptado para ser evaluador complementario en esta convocatoria, los administradores se pondrán en contacto contigo cuando puedas apoyar en el proceso de evaluación.
      h1 Ten en cuenta que existe la posibilidad de que todo vaya bien y no sea necesaria tu intervención, pero nos alegra tenerte en nuestro equipo

  include ../../footer.pug
script.
  const idAnnoun = `#{evaluator.idAnnouncement._id}`;
  const idEvaluator = `#{evaluator._id}`;

script(src=pathToRoot + 'vue/vue.min.js')
if today < evaluator.idAnnouncement.deadlineDate && evaluator.status == 1
  script(src=pathToRoot + 'tables/vue-tables-2.min.js')
  //- script(src=pathToRoot + 'pagination/vue-pagination-2.min.js')
  script(src=pathToRoot + 'vue/controllers/announcement/viewEvalutor.js')