- const pathToRoot = '../../'
doctype html
html(lang="en")
  head
    include ../header.pug
    link(rel="stylesheet", href="../css/index.css")
    title JustBlocks
  body
    include ../navbar.pug
    main#app.section
      .container-fluid
        .columns
          .column.is-one-quarter
            // figure.image.is-5by4(style='background: url("images/Porg.png") #fff no-repeat; background-size: contain;')
            figure.image.is-5by4
              image(src=pathToRoot + 'images/Porg.png' style='border-radius: 0%')
            .card
              .card-content
                p.title #{user.name.first} #{user.name.last}
                p.subtitle #{user.email}
                ul
                  li
                    span.icon
                      i.fas.fa-briefcase
                    span ocupation
                  li
                    span.icon
                      i.fas.fa-graduation-cap
                    span education
            nav.panel                                                                                 
              p.panel-heading Menu
              a.panel-block(onclick="window.location='/announcement/create'") 
                span.panel-icon
                  i.fas.fa-plus-square
                span Agregar Convocatoria
          .column
            .notification.is-primary
              h1.title {{ title }}
              //- h2.subtitle name
              br
            .colum.is-two-quarter      
              div(v-for="announ in myAnnouns")
                .colum.is-one-quarter      
                  .columns.is-variable.is-2
                    .column
                      .card
                        .card-image
                          figure.image.is-4by3
                            img(src='https://www.iagua.es/sites/default/files/styles/thumbnail-830x455/public/glaciar_perito_moreno_0.jpg?itok=9a_iNcsz', alt='Placeholder image')
                        .card-content
                          .columns.is-gapless.is-multiline
                            .column.is-full
                              .notification.is-success
                                p.title.is-4 {{announ.title}}
                                p.subtitle.is-6 {{announ.userName}}
                            .column.is-three-fifths
                              .notification.has-text-centered.is-success.is-inverted
                                p
                                  b Etapa: Lanzamiento
                                progress.progress.is-success(value='33', max='100') 33%
                            .column.is-two-fifths
                              .notification.has-text-centered
                                p
                                  b 183
                                p Participates
                          .content
                            p(hidden='')
                              | Desarrollar una app web que permita a la poblaci칩n conocer sobre el Cambio Clim치tico y colaborar con acciones
                              | para su mitigaci칩n.
                            p
                              a(:href="`/announcement/view/${announ._id}`") ver m치s...

                  
    include ../footer.pug
    script(src=pathToRoot + "vue/vue.min.js")
    script(src=pathToRoot + "../../vue/controllers/home.js")
    // script(src="../x../vue/components/tabs.vue")
