- const pathToRoot = 'http://localhost:3000/'
script.
  window.id = !{JSON.stringify(id)}
doctype html
html(lang="en") 
  head
    include ../header.pug
    link(rel="stylesheet", href="../css/index.css")
    title JustBlocks
  style.
    a {
      text-decoration: none;
    }
  body
    include ../navbar.pug
    main#app.section
      .container-fluid
        .columns
          .column.is-one-quarter
            figure.image.is-5by4
              if (user.image)
                image(src='files/users/'+ user.image._id + "." + user.image.extension style='border-radius: 0%')
              else
                image(src=pathToRoot + 'images/Porg.png' style='border-radius: 0%')
            .card
              .card-content
                p.title #{user.name.first} #{user.name.last}
                p.subtitle #{user.email}
                ul
                  li
                    span.icon
                      i.fas.fa-briefcase
                    span #{user.ocupation !== '' ? user.ocupation : 'ocupation'}
                  li
                    span.icon
                      i.fas.fa-graduation-cap
                    span #{user.education !== '' ? user.education : 'education'}
                  li
                    span.icon
                      i.fas.fa-user-astronaut
                    span Bio
                    article.notification #{user.bio !== '' ? user.bio : 'bio'}
            nav.panel                                                                                 
              p.panel-heading Menu
              a.panel-block(onclick="window.location='/announcement/create'") 
                span.panel-icon
                  i.fas.fa-plus-square
                span Agregar Convocatoria
          .column.is-three-quarters
            .notification.is-primary
              h1.title(v-if='tabs.announs') Mis Convocatorias
              h1.title(v-else-if='tabs.projects') Proyectos
            .notification.is-white
              .tabs
                ul
                  li(:class="{ 'is-active' : tabs.announs }" @click='changeContent("announs")')
                    a(style="text-decoration: none")
                      span.icon.is-small
                        i.fas.fa-bullhorn(aria-hidden='true')
                      span Mis Convocatorias
                  li(:class="{ 'is-active' : tabs.projects }" @click='changeContent("projects")')
                    a(style="text-decoration: none")
                      span.icon.is-small
                        i.fas.fa-project-diagram(aria-hidden='true')    
                      span Proyectos
              .tile.is-antecesor
                .tile.is-vertical.parent
                  div(v-if='tabs.announs')
                    .tile.is-child
                      .columns
                        .column
                          .field.is-pulled-right
                            p.control
                              a.button.is-success.is-outlined(:href="`/announcement/create`")
                                span.icon.is-small
                                  i.fas.fa-plus-square
                                span Agregar
                    br
                    .tile.is-child.box
                       v-client-table(:columns='table.announs.columns' :data='announs' :options='table.announs.options')
                        div(slot='creationDate' slot-scope='props') {{ props.row.creationDate.toCostumeString() }}
                        div(slot='deadlineDate' slot-scope='props') {{ props.row.deadlineDate.toCostumeString() }}
                        .field.has-addons(slot='options' slot-scope='props')
                          p.control
                            a.button.is-primary.is-outlined(:href="`app/announcement/edit/${props.row._id}`")
                              span.icon.is-small
                                i.fas.fa-edit
                              span Editar
                          p.control
                            a.button.is-info.is-outlined(:href="`app/announcement/admin/${props.row._id}`")
                              span.icon.is-small
                                i.fas.fa-toolbox
                              span Administrar
                  div(v-else-if='tabs.projects')
                    .tile.is-child.box
                      v-client-table(:columns='table.projects.columns' :data='projects' :options='table.projects.options')
                        div(slot='title' slot-scope='props') {{ props.row.title != '' ? props.row.title : 'Sin Título' }}
                        div(slot='description' slot-scope='props') {{ props.row.description != '' ? props.row.description : 'Sin Título' }}
                        .field.has-addons(slot='options' slot-scope='props')
                          p.control
                            a.button.is-primary.is-outlined(:href="`/app/project/edit/${props.row._id}`")
                              span.icon.is-small
                                i.fas.fa-edit
                              span Editar
                          p.control
                            a.button.is-info.is-outlined(:href="`project/edit/${props.row  ._id}`")
                              span.icon.is-small
                                i.fas.fa-toolbox
                              span Administrar
    include ../footer.pug
    script(src=pathToRoot + "vue/vue.min.js")
    script(src=pathToRoot + 'tables/vue-tables-2.min.js')
    script(src=pathToRoot + "vue/controllers/home.js")

