- const pathToRoot = '../'
doctype html 
html(lang="en") 
  head
    include ../header.pug
    link(rel="stylesheet", href="../css/index.css")
    title JustBlocks
  body
    include ../navbar.pug
    main#app.section
      .container-fluid
        .columns
          .column.is-one-quarter
            // figure.image.is-5by4(style='background: url("images/Porg.png") #fff no-repeat; background-size: contain;')
            figure.image.is-5by4
              if (user.image)
                image(src='files/users/'+ user.image._id + "." + user.image.extension style='border-radius: 0%')
              else
                image(src=pathToRoot + 'images/Porg.png' style='border-radius: 0%')
            .card
              .card-content
                p.title #{user.name.first} #{user.name.last}
                p.subtitle #{user.email}
                ul
                  li
                    span.icon
                      i.fas.fa-briefcase
                    span ocupation
                  li
                    span.icon
                      i.fas.fa-graduation-cap
                    span education
            nav.panel                                                                                 
              p.panel-heading Menu
              a.panel-block(onclick="window.location='/announcement/create'") 
                span.panel-icon
                  i.fas.fa-plus-square
                span Agregar Convocatoria
          .column.is-three-quarters
            .notification.is-primary
              h1.title {{ title }}
            table.table.is-striped.is-fullwidth
              thead  
                tr
                  th Título
                  th Fecha de lanzamiento
                  th Fecha de evaluación
                  th Fecha de cierre
                  th Participantes
                  th Evaluadores
                  th Proyectos por evaluador
                tr(v-for='announ in myAnnouns')
                  td 
                    a(:href="`app/announcement/admin/${announ._id}`") {{announ.title}}
                  td {{announ.endEnrollmentsDate}}
                  td {{announ.evaluationDate}}
                  td {{announ.deadlineDate}}
                  td 0
                  td {{announ.evaluators}}
                  td {{announ.projectsPerEvaluator}}
    include ../footer.pug
    script(src=pathToRoot + "vue/vue.min.js")
    script(src=pathToRoot + "../../vue/controllers/home.js")
    // script(src="../x../vue/components/tabs.vue")
